@model IList<EGram.Models.Schema>

@{
    ViewBag.Title = "View Schema";
    Layout = "~/Views/Shared/LayOutNew.cshtml";
}
<script>
    $('#GotoGovLink').click(function () {
        // do something…
        alert("Go To GOV web");
    })
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    $(document).ready(function () {
        document.getElementById("defaultOpen_0").click();
    })
</script>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: "Lato", sans-serif;
        }

        /* Style the tab */
        .tab {
            float: left;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 30%;
            height: 300px;
        }

            /* Style the buttons inside the tab */
            .tab button {
                display: block;
                background-color: inherit;
                color: black;
                padding: 22px 16px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                font-size: 17px;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #ddd;
                }

                /* Create an active/current "tab button" class */
                .tab button.active {
                    background-color: #ccc;
                }

        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 70%;
            border-left: none;
            height: 300px;
        }
    </style>
</head>
<div class="w3-container" >

    <h2 style="margin-top:2em">
        All Schems
        <a href="@Url.Action("index","Village")" class="btn btn-success">Add New Schema</a>
    </h2>

    <div class="tab">
        @foreach (var obj in Model)
        {
            <button class="tablinks" onclick="openCity(event, @obj.SchemeID)" id="defaultOpen_@obj.SchemeID">@obj.SchemaName
                <a href="updateschema?id=@obj.SchemeID" style="float:right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </button>

        }

    </div>
    @foreach (var obj in Model)
    {
        <div id="@obj.SchemeID" class="tabcontent" style="height: auto; font-size: 13px; background-color: white" >

            <div class="w3-card-4" style="width: 30em; display: inline; ">
                <header class="w3-container w3-blue">
                    <h3>
                        @obj.SchemeID
                        @obj.SchemaName
                    </h3>
                </header>
                <div class="w3-container">
                    <p><b> Validity : @obj.CreatedOn.ToString() to @obj.ActiveTill</b></p>
                    <p><b>Scheme Description</b><br>  @obj.Description</p>
                    <p>
                        <b>comment :</b> @obj.Condition
                    </p>
                    <p>
                        <b><a href="@obj.URL">Go to official link </a></b>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b onclick="downloadschematemplate(@obj.SchemeID)">Download Application form</b>
                    </p>
                    </div>
            </div>
        </div>
    }

    @*@foreach (var obj in Model)
    {
        <div class="col-md-6">
            <div class="w3-card-4" style="width: 30em; display: inline; ">
                <header class="w3-container w3-blue">
                    <h1>
                        @obj.SchemeID
                        @obj.SchemaName
                    </h1>
                </header>
                <div class="w3-container">
                    <p>


                        @if (obj.Description.Length > 100)
                        {
                            @obj.Description.Substring(0, 100)
                        }
                        else
                        {
                            @obj.Description
                        }
                        ...
                    </p>
                    <a href="#" id="MybtnModal" onclick="GetAllScemadata(@obj.SchemeID)">View Details</a>
                </div>
            </div>
        </div>
    }*@


</div>


<!-- .modal
<div class="modal fade" id="Mymodal" onload="callBack()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title schematitle">Notification</h4>
                <p id="fileName">file</p>
            </div>
            <div class="modal-body">
                <div id='schemabody'>Are you sure you want to continue?</div>
                <div id="GotoGovLink"><a href="#" id="govlinktext">http://www.google.com</a></div>
                <div onclick="downloadschematemplate()">
                    click here<div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     function GetAllScemadata(scemeid)
        {

            $("#Mymodal").modal('show');
             $.ajax({
              url: '@Url.Action("RetrieveSchemebyid", "Village")',

              data: { id: scemeid },
                 success: function (data) {
                     var schemadetails = JSON.parse(data);
                     alert(schemadetails.SchemeID);

                     $('.schematitle').html(schemadetails.SchemeID + " " + schemadetails.SchemaName);

                     $('#schemabody').html(schemadetails.Description);
                     $('#govlinktext').html("<a href='" + schemadetails.URL + "'>Go To Official Link</a>");
                     $('#fileName').html(schemadetails.ImagePath);
                //call is successfully completed and we got result in data
              },
              error:function (xhr, ajaxOptions, thrownError){
                              //some errror, some show err msg to user and log the error
                              alert(xhr.responseText);

                            }
              });
        }
</script> -->
<script>
    function downloadschematemplate(scemeid) {
        alert($('#fileName').html());
        window.open("D:\nilam\EgramPanchayatV2\EGram - Copy\ImagePath\Schema\\" + $('#fileName').html());
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
